

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}

* {
  box-sizing: border-box;
}

a {
	text-decoration: none;
}

h1 {
  font-family: 'Poppins', sans-serif;
}

body {
  font-family: 'Open Sans', sans-serif;

}

h3 {
  color: #3E4350;
}

ul {
	list-style: none;
}

.wrap {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.col-1 {
	flex: 1;
	display: flex;
	justify-content: center;
}


.col-2 {
	flex: 1;
	display: flex;
	justify-content: center;
}

.large-text {
	display: inline-block;
	margin-top: 2em;
	margin: auto;
	color: #00B5B5;
	padding: .75em;
	font-size: 175%;
}


/*********HEADER**********/

#header {
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	top: 0;
	position: fixed;
	width: 100%;
	height: 220px;
}

.main-header {
	display: flex;
	background-color: #F0F0F0;
	justify-content: center;
	margin-bottom: 0;
}

.main-header a {
	color: #00B5B5;
	align-self: center;
}

.main-header a:visited {
	color: #00B5B5;
}

.main-header a:hover {
	color: #5C6D7E;
}

.sub-header {
	background-color: #F16233;
	display: flex;
	flex-direction: row;
	color: #3E4651;
	align-items: center;
	justify-content: center;
	font-size: 80%;
}


.sub-header .col-1 {
	justify-content: flex-start;
	padding: .75em;
	flex: 2;
	font-family: 'Oswald', sans-serif;
}

.sub-header span {
	color: #F0F0F0;
/*	font-family: 'Roboto', sans-serif;*/
}


.sub-header .col-2 {
	justify-content: flex-end;
	padding: .75em;
	flex: 1;
}

.sub-header ul {
	list-style: none;
	display: flex;
	justify-content: flex-end;
}

.sub-header img {
	height: 35px;
	width: 35px;
}


/************ JUMBOTRON **************/
#jumbotron {
	display: none;
}

/* Large Screens only */



/*********** COVERAGE LIST *****************/


.coverage {
	display: flex;
	flex-direction: column;
	background: url(../img/play.png);
	background-color: #F0F0F0;
	justify-content: flex-end;
}


.coverage-group {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}


.coverage-group h3 {
	color: #00B5B5;
	cursor: pointer;
	align-self: flex-end;
}

/* add extra padding to first and last child of coverage list

.coveragegroup .item:last-child {
	padding-bottom: 1em;
}*/

.item {
	border-radius: 3px;
	padding: 15px;
	margin: 5px;
	max-width: 800px;
}

.coverage-group p {
	color: #3E4651;
	padding: 15px;
	background-color: #FFF;
}

.coverage-group p::first-line {
	font-size: 125%;
}

.coverage-group img {
	max-width: 76%;
	padding: 1em;
}

.chevron::before {
	border-style: solid;
	border-width: 0.25em 0.25em 0 0;
	content: '';
	display: inline-block;
	height: 0.45em;
	left: 0.15em;
	position: relative;
	top: 0.15em;
	transform: rotate(45deg);
	vertical-align: top;
	width: 0.45em;
}

.chevron-bottom:before {
	border-style: solid;
	border-width: 0.25em 0.25em 0 0;
	content: '';
	display: inline-block;
	height: 0.45em;
	left: 0.15em;
	position: relative;
	top: 0.15em;
	transform: rotate(135deg);
	vertical-align: top;
	width: 0.45em;
	top: 0;
}



/***********ABOUT *****************/
.about {
	margin-top: 260px;
	display: flex;
	color: #00B5B5;
	font-size: 125%;
	padding: 1em;
	flex-direction: column;
	background-color: #F0F0F0;
	justify-content: center;
}

.about p {
	display: block;
	padding: 1em;
	margin: auto;
	align-self: center;
}


.about img {
	width: 50%;
	height: 50%;
	border: 1px solid #FDFDFD;
	flex: 1;
	margin-right: 4em;
	margin-left: 4em;
}

.col-2 {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.about a {
	color: #F16233;
}

.about a:hover {
	color: #F16233;
}

.hidden {
	display: none;
}
	
/***********CONTACT *****************/
.contact {
	background-color: #3E4651;
	color: #F0F0F0;
	display: flex;
	flex-wrap: wrap;
	padding: 15px;
	justify-content: space-around;
	flex-direction: column;
}

.contact ul {
	flex-direction: column;
	align-self: center;
}

.contact li {
	font-family: 'Oswald', sans-serif;
	margin: auto;
}

.copyright {
	align-self: center;
	font-size: 60%;
    color: #F16233;
}



/***************MEDIA QUERRIES*****************/

@media (min-width: 769px) {

	.content-wrap {
	  padding-left: 8em;
	  padding-right: 8em;
	  display: flex;
	  flex-wrap: wrap;

	}

	.main-header {
		display: flex;
		flex: 1;
		width: 100%;
		justify-content: center;
		margin-top: 0;
	}

	.main-header a {
		display: inline-block;
		margin-bottom: 0;
	}


	#jumbotron {
		display: flex;
		margin-top: 240px;
		order: -2;
		height: 200px;
	}

	.jumbotron {
		max-height: 100%;
		background: url(../img/jumbotron.jpg) no-repeat;
		background-position: 50% 55%;
	    background-size: cover;
	    display: flex;
	    justify-content: center;
	    padding: 10px;
	}

	.jumbotron span {
		color: white;
		margin: 2em;
		padding: 1em;
		border: 1px solid;
		margin: auto 0;
		font-family: 'Slabo 27px', serif;
	}

	.coverage {
		order: -1;
		padding-left: 10em;
		padding-right: 7em;
	}

	.coverage h3 {
		align-self: flex-start;
	}

	.about {
		flex-direction: row;
		order: 0;
		margin-top: 0;
	}

	.content-wrap {
		flex-wrap: wrap;
	}

	.about img {
		margin-top: 1.5em;
		border: 1px solid #FDFDFD;
		float: left;
	}
/*
	.about .col-2 {
		flex-wrap: wrap;
	}*/

	.about h4, ul {
		padding-left: 3em;
	}

	.hidden {
		display: inline-block;
	}
}