
h1 {
  font-family: 'Poppins', sans-serif;
}

body {
  font-family: 'Open Sans', sans-serif;

}

ul {
	list-style: none;
}

.large-text {
	display: inline-block;
	margin-top: 1em;
	margin-bottom: 1em;
	color: #00B5B5;
	font-size: 175%;
}

.gutter {
	max-width: 95%;
	padding: 1em;
}


/*********HEADER**********/

.white-header {
	background-color: #F0F0F0;
}

.orange-banner {
	background-color: #F16233;
	color: #3E4651;
	padding: .5em 4em;
}

.orange-banner span {
	color: #F0F0F0;
	font-family: 'Oswald', sans-serif;
/*	font-family: 'Roboto', sans-serif;*/
}

.orange-banner a {
	float: right;
	color: #F0F0F0;
	font-family: 'Oswald', sans-serif;
	padding-right: .45em;
}


.hero {
	height: 220px;
	background: url(../img/jumbotron.jpg) no-repeat;
	/*background-position: 100% 400%;*/
    background-size: cover;
    padding: 10px;
    margin: 0;	
}

.hero span {
	color: rgba(240, 240, 240, .7);
	font-family: 'Questrial', sans-serif;
	text-align: center;
}

.btn-primary-outline {
	background-color: transparent;
	border: 1px solid #F0F0F0 !important;
	margin-top: 2.75em;
}

/*********** COVERAGE LIST *****************/

.product {
	margin: .25em 0 0 .5em;
	cursor: pointer;
}

.licenses {
	background: url(../img/play.png);
	background-color: #F0F0F0;
}



/***********ABOUT *****************/
.main {
	background-color: #F0F0F0;
	color: #3E4651;
}


.hidden {
	display: none;
	color: #00B5B5;
}


.logos {
	max-width: 150px;
	max-height: 150px;
	border: none;
	margin: .25em;
}

.portrait {
	padding: 2em 0em;
}	
	
/***********CONTACT *****************/

.main-footer {
	background-color: #3E4651;
	color: #F0F0F0;
	padding: 15px;
}

.main-footer li {
	margin-left: none;
	font-family: 'Oswald', sans-serif;
}

.copyright {
	font-size: 60%;
    color: #F16233;
    padding-top: 1em;
    text-align: center;
}





/***************MEDIA QUERRIES*****************/

@media (min-width: 769px) {

	#header-container {
		height: 150px;
	}

	.white-header {
		width: 100%;
		margin-top: 0;
	}

	.hero {
		height: 220px;
		/*background-position: 50% 55%;*/
	}

	.hero span {
		margin-top: 3em;
		margin-right: .6em;
		margin-top: 1em;
		margin-right: .6em;
		font-size: 180%;
		color: rgba(240, 240, 240, .7);
		font-family: 'Questrial', sans-serif;
	}
	.btn-primary-outline {
		margin-top: .5em;
	}

}
