
h1 {
  font-family: 'Poppins', sans-serif;
}

body {
  font-family: 'Open Sans', sans-serif;

}

ul {
	list-style: none;
}

.large-text {
	display: inline-block;
	margin-top: 1em;
	margin-bottom: 1em;
	color: #00B5B5;
	font-size: 175%;
}


/*********HEADER**********/

.white-header {
	background-color: #F0F0F0;
}

.orange-banner {
	background-color: #F16233;
	color: #3E4651;
	padding: .5em 4em;
}

.orange-banner span {
	color: #F0F0F0;
	font-family: 'Oswald', sans-serif;
/*	font-family: 'Roboto', sans-serif;*/
}

.orange-banner a {
	float: right;
	color: #F0F0F0;
	font-family: 'Oswald', sans-serif;
	padding-right: .45em;
}


/*********** COVERAGE LIST *****************/

.product {
	margin: .25em 0 0 .5em;
	cursor: pointer;
}

.licenses {
	background: url(../img/play.png);
	background-color: #F0F0F0;
}



/***********ABOUT *****************/
.main {
	color: #00B5B5;
	background-color: #F0F0F0;
}


.hidden {
	display: none;
	color: #00B5B5;
}


.logos {
	max-width: 150px;
	max-height: 150px;
	border: none;
	margin: .25em;
}
	
/***********CONTACT *****************/

.main-footer {
	background-color: #3E4651;
	color: #F0F0F0;
	padding: 15px;
}

.main-footer li {
	margin-left: none;
	font-family: 'Oswald', sans-serif;
}

.copyright {
	font-size: 60%;
    color: #F16233;
    padding-top: 1em;
    text-align: center;
}





/***************MEDIA QUERRIES*****************/

@media (min-width: 769px) {

	#header-container {
		height: 150px;
	}

	.white-header {
		width: 100%;
		margin-top: 0;
	}

	#hero {
		height: 220px;
	}

	.hero {
		max-height: 100%;
		background: url(../img/jumbotron.jpg) no-repeat;
		background-position: 50% 55%;
	    background-size: cover;
	    padding: 10px;
	}

	.hero span {
		margin-top: 3.5em;
		margin-right: .6em;
		text-align: right;
		font-size: 180%;
		color: rgba(240, 240, 240, .7);
		padding: 1em;
		width: 70%;
		font-family: 'Questrial', sans-serif;
	}

}
